.home-container(style="background-image:url('./../img/image-1 (3).jpg')")
    .home-bg
    .header-container 
        .container-h
            .header-logo
                a(href="#") L A N A
            .header-menu
                ul.menu-list
                    li.menu-list-link 
                        a(href="./../layout/home") Home
                    li.menu-list-link
                        a(href="./../layout/ourmission") Our mission
                    li.menu-list-link
                        a(href="./../layout/whatwedo") What we do
                    li.menu-list-link
                        a(href="./../layout/oursolutions") Our solutions
                    li.menu-list-link
                        a(href="./../layout/ourwork") Our work
                    li.menu-list-link
                        a(href="./../layout/contact") Contact
                button.btn-buy Buy now 
    .body-container
        .container-b 
            .count-container
                .counttime-day
                    .numb 
                        p 0
                    .date
                        p Day
                .counttime 
                    .numb
                        p 00
                    .date
                        p Hours
                .counttime 
                    .numb
                        p 00
                    .date
                        p Minutes
                .counttime 
                    .numb
                        p 00
                    .date
                        p Seconds
            .text-container
                p Our website is under construction.
                p We'll be here soon with our new 
                p awesome site.
            .btn-container
                button.btn-learn Learn more
                button.btn-subcribe Subscribe    