html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Our Work 
        link(rel="stylesheet", href="../scss/component/ourwork.scss")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap-----")
    body
        div(class="background-img" style="background: url('../img/img-1.jpg')")    
            div(class="container_OW")
                h1(class = "H1")  Our Work
                p(class="pCard") Donec sollicitudin libero vitae massa placerat tempor. Duis rutrum nisl eu ipsum varius, nec feugiat tortor vulputate. Integer pellentesque leo id metus dictum, a tristique tellus faucibus.
                div(class="container_OW-1")    
                    section(class = "splide" aria-label = "Splide Basic HTML Example")
                        div(class="splide__track")
                            ul(class="splide__list")
                                li(class="splide__slide")
                                    div(class="slide")
                                        div(class="imgSlide")
                                            img(class="imgSlide" src="../img/img-2-min.jpg", alt="")
                                        div(class="textSlide")
                                            p -------------
                                            br
                                            h1 Mountains 
                                            p Web Design
                                li(class="splide__slide")
                                    div(class="slide")
                                        div(class="textSlide textLeft") 
                                            p -------------
                                            br
                                            h1 Love 
                                            p Web Design
                                        div(class="imgSlide") 
                                            img(class="imgSlide" src="../img/img-3-min.jpg", alt="")
                                li(class="splide__slide")
                                    div(class="slide")
                                        div(class="imgSlide") 
                                            img(class="imgSlide" src="../img/img-4-min.jpg", alt="")
                                        div(class="textSlide") 
                                            p -------------
                                            br
                                            h1 Beautiful Girl 
                                            p Brand
                                li(class="splide__slide")
                                    div(class="slide")
                                        div(class="textSlide textLeft") 
                                            p -------------
                                            br
                                            h1 Future City 
                                            p Web Design
                                        div(class="imgSlide") 
                                            img(class="imgSlide" src="../img/img-5-min.jpg", alt="")
                                li(class="splide__slide")
                                    div(class="slide")
                                        div(class="imgSlide") 
                                            img(class="imgSlide" src="../img/img-6-min.jpg", alt="")
                                        div(class="textSlide") 
                                            p -------------
                                            br
                                            h1 Golden Gate Bridge 
                                            p Design
                div(class="container_OW-2")
                    div(class="slide")
                        div(class="imgSlide")
                            img(class="imgSlide" src="../img/img-2-min.jpg", alt="")
                        div(class="textSlide")
                            p -------------
                            br
                            h1 Mountains 
                            p Web Design
                    div(class="slide")
                        div(class="textSlide textLeft") 
                            p -------------
                            br
                            h1 Love 
                            p Web Design
                        div(class="imgSlide") 
                            img(class="imgSlide" src="../img/img-3-min.jpg", alt="")
                    div(class="slide")
                        div(class="imgSlide") 
                            img(class="imgSlide" src="../img/img-4-min.jpg", alt="")
                        div(class="textSlide") 
                            p -------------
                            br
                            h1 Beautiful Girl 
                            p Brand
                    div(class="slide")
                        div(class="textSlide textLeft") 
                            p -------------
                            br
                            h1 Future City 
                            p Web Design
                        div(class="imgSlide") 
                            img(class="imgSlide" src="../img/img-5-min.jpg", alt="")
                    div(class="slide")
                        div(class="imgSlide") 
                            img(class="imgSlide" src="../img/img-6-min.jpg", alt="")
                        div(class="textSlide") 
                            p -------------
                            br
                            h1 Golden Gate Bridge 
                            p Design   
                div(class="container_OW-3")
                    div(class="imgSlide")
                        img(class="imgSlide" src="../img/img-2-min.jpg", alt="")
                    div(class="textSlide")
                        br
                        h1 Mountains 
                        p Web Design 
                    div(class="imgSlide") 
                        img(class="imgSlide" src="../img/img-3-min.jpg", alt="") 
                    div(class="textSlide") 
                        br
                        h1 Love 
                        p Web Design
                    div(class="imgSlide") 
                        img(class="imgSlide" src="../img/img-4-min.jpg", alt="")
                    div(class="textSlide") 
                        br
                        h1 Beautiful Girl 
                        p Brand                       
                    div(class="imgSlide") 
                        img(class="imgSlide" src="../img/img-5-min.jpg", alt="")
                    div(class="textSlide") 
                        br
                        h1 Future City 
                        p Web Design
                    div(class="imgSlide") 
                        img(class="imgSlide" src="../img/img-6-min.jpg", alt="")
                    div(class="textSlide") 
                        br
                        h1 Golden Gate Bridge 
                        p Design        
        script(type="module" src="../js/ourwork.js") 
         
            