
.whatwedo(style="background-image:url('./../img/dat.jpg')")
    .bg-overlay
    .container  
        .whatwedo-content
            .left
                h2  What we Do
                p Fusce massa dolor, mattis sed ultrices ut, placerat ut leo. Donec sed fringilla lectus,   non vulputate orci. Integer id libero euismod, interdum ligula vel, porttitor magna. Sed  euismod maximus finibus. Pellentesque tempus ultricies nisi at cursus. Nulla at nisi tellus. Suspendisse potenti   
            .right
                .right-block
                    .icon <i class="bi bi-stopwatch"></i>
                    h3 Launch Quickly
                .right-block
                    .icon <i class="bi bi-book"></i>    
                    h3 Well Documented 
                .right-block
                    .icon <i class="bi bi-gear"></i>
                    h3 Fully Customizable 
                .right-block
                    .icon <i class="bi bi-brush"></i>
                    h3 Stylish Design 
                .right-block              
                    .icon <i class="bi bi-files"></i>
                    h3 Multiple Styles 
                .right-block
                    .icon <i class="bi bi-headset"></i>
                    h3 Friendly Support
