.ourmission{
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .bg-overlay{
        // opacity: 0.5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;  
    }
    .ourmission-content{
        position: absolute;
        top: 50%;
        // border: 1px solid red;
        transform: translateY(-50%);
        right: 0;
        z-index: 999999;
        color: #fff;
        display: flex;
        left: 0;
    }
    
    .ourmission-text-content{
        // position: absolute;
        // font-weight: 400;
        line-height: 1.6;
        padding: 0 0;
        width: 70%;
        text-align: left;
        // bottom: 50%;
        color: #fff;
        font-size: 1.6rem;
        // display: block;
        display: flex;
        flex-direction: column;
    }
    
    .ourmission-heading h2{
        margin-bottom: 1rem !important;
        // line-height: 1.35;
        font-weight: 400;
        font-size: 4rem;
    }
    
    .ourmission-description p{
        font-weight: 400;
        font-size: 2rem;
    }
}

@media (max-height: 760px) {
    .ourmission {
        height: 35rem;
        background-position: 38% 62%;
        background-size: cover;

        .ourmission-heading h2{
            margin-bottom: 1rem !important;
            // line-height: 1.35;
            font-weight: 400;
            font-size: 3rem;
        }
        
        .ourmission-description p{
            font-weight: 400;
            font-size: 2rem;
        }
    }
}